################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CapacitacionMOPT/CapacitacionMOPT/obj
/CapacitacionMOPT/.vs/CapacitacionMOPT.slnx
/CapacitacionMOPT/CapacitacionMOPT/bin/Debug/net8.0
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/CodeChunks.db
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/CodeChunks.db-shm
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/CodeChunks.db-wal
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-shm
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689/SemanticSymbols.db-wal
*.bin
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689
/CapacitacionMOPT/.vs/ProjectEvaluation
/CapacitacionMOPT/.vs/ProjectEvaluation/capacitacionmopt.metadata.v10.bin
/CapacitacionMOPT/.vs/ProjectEvaluation/capacitacionmopt.projects.v10.bin
/CapacitacionMOPT/.vs/ProjectEvaluation/capacitacionmopt.strings.v10.bin
