################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CapacitacionMOPT/CapacitacionMOPT/obj
/CapacitacionMOPT/.vs/CapacitacionMOPT.slnx
/CapacitacionMOPT/CapacitacionMOPT/bin/Debug/net8.0
/CapacitacionMOPT/.vs/CapacitacionMOPT/CopilotIndices/18.7.1253.33689
